<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Piece :: Font :: {% block title %}Stuff{% endblock %}</title>
<link rel="stylesheet" href="https://maze.io/piece/font/css/bootstrap.min.css">
{% block head %}{% endblock %}
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      {% for collection in collections %}
      <h2><a href="/piece/font/{{ collection }}/">{{ collection|title }}</a></h2>
      <ul>
      {% for vendor in collections[collection] %}
        <li><a href="/piece/font/{{ collection }}/{{ vendor }}/">{{ vendor|replace("-", " ")|title }}</a></li>
      {% endfor %}
      </ul>
      {% endfor %}
    </div>
    <div class="col-md-10">
{% block content %}{% endblock %}
    </div>
  </div>
</div>

</body>
</html>
