{% extends "font/base.html" %}

{% block title %}Collection {{ name|title }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h2>Collection {{ name|title }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Fonts</th>
    </tr>
  </thead>
  <tbody>
{% for vendor, fonts in collection.iteritems()|sort %}
    <tr>
      <td><a href="{{ vendor }}/">{{ vendor|replace("-", " ")|title }}</a></td>
      <td>{{ fonts }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
