{% extends "font/base.html" %}

{% block content %}
<h2>We &hearts; fonts</h2>

<p>
  This is the font collection for the <a href="https://github.com/tehmaze/piece/">piece</a>,
  a text-to-image render engine written in C for speed and for the lulz.
</p>

<p>
  We've been scouring the internet for text mode fonts on old (8-bit) computers,
  software and other ROMs for text mode fonts. A great source has been the <a
  href="http://www.mess.org/">Multi Emulator Super System</a>, and I would also
  like to thank Kyzrati from <a href="http://rexpaint.blogspot.com/">REXPaint</a>
  for publishing his fonts.
</p>

<h3>Royalty free!</h3>

<p>
  Well, maybe, it depends on your country. In a lot of countries the <u>typeface
  is not copyrightable</u>, but this varies per legal juresdiction. For more
  information, please refer to the
  <a href="http://www.faqs.org/faqs/fonts-faq/part2/">comp.fonts</a> FAQ.
</p>

<h3>We want your soul^wfonts!</h3>

<p>
  If you think you have useful additions to the project, please get in touch
  with <strong>maze</strong> via IRC (EFNet, IRCNet, FreeNode, SmurfNet) or
  using <a href="mailto:maze@maze.io">maze@maze.io</a>
  (<a href="http://pool.sks-keyservers.net:11371/pks/lookup?search=0x07E40BB33D63D49047973421ED7B1576294DF221&op=vindex">PGP</a>).
</p>

<h3>FAQ</h3>

<dl>
  <dt>Font $foo is not included, when will it be added?</dt>
  <dd>Get in touch and provide us with enough details to be able to
    include your favourite font.</dd>

  <dt>What do you use to convert the ROMs to YAMLs? What about the palettes?</dt>
  <dd>Most of the tools are written in
    <a href="http://www.python.org">Python</a> and make heavy use of the
    <a href="https://pillow.readthedocs.org/">Pillow</a> library.</dd>

  <dt>Can you also provide the fonts in $my_favourite_format?</dt>
  <dd>I'm sure we can, get in touch and we'll see what can be done.</dd>

  <dt>Is it free?</dt>
  <dd>Well, maybe, it depends on your country. In a lot of countries the
    <u>typeface is not copyrightable</u>, but this varies per juresdiction.
    For more information, please refer to the
    <a href="http://www.faqs.org/faqs/fonts-faq/part2/">comp.fonts</a> FAQ.</dd>

  <dt>Can I include the fonts in my project?</dt>
  <dd><em>Yes!</em>, but please link to the project or at least mention in your
    documentation where you got the fonts from.</dd>
</dl>

{% endblock %}
